.select,
.dropdown {
	--border-width: 1px;
	--border-color: var(--bs-border-color); /*#ddd*/
	--border-radius: var(--bs-border-radius);
	--hover-border-color: #0074d9;
	--background-color: var(--bs-body-bg); /*#fafafa;*/
	--handle-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");

	--focus-outline: 0; /*1px solid var(--hover-border-color); double the border thickness */
	--focus-box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);

	--dropdown-background-color: #fff;
	--dropdown-border-color: var(--border-color);

	--item-new-color: blue;

	--item-disabled-color: #ccc;
	--item-disabled-background-color: #f2f2f2;

	--item-selected-color: #fff;
	--item-selected-background-color: #0074d9;
	--item-selected-active-background-color: #0074d980;
	--item-active-background-color: #00000020;
}

.select {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	padding: 0.375rem 0.75rem 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;

	border: var(--border-width) solid var(--border-color);
	border-radius: var(--border-radius);
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

	background-color: var(--background-color);

	&:global(.handle) {
		background-image: var(--handle-img);
		background-repeat: no-repeat;
		background-position: right 0.75rem center;
		background-size: 16px 12px;
		padding-right: 2.25rem;
	}

	cursor: pointer;

	&:global(.read-only) {
		cursor: inherit;
	}

	&:hover:not(:global(.read-only)),
	&:focus,
	&:focus-within {
		border-color: var(--hover-border-color);
	}

	&:focus,
	&:focus-within {
		outline: var(--focus-outline);
		box-shadow: var(--focus-box-shadow);
	}
}

.select :global(.content) {
	position: relative;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	min-height: 1em;
}

.select .placeholder {
	position: absolute;
	padding-left: 1ch;
	font-style: italic;
	color: GrayText;
}

.select :global(.multi-item) {
	padding: 2px 5px;
	border-radius: 2px;
	margin: 3px 0;
	background: #0074d9;
	color: #fff;
	display: flex;
	align-items: center;
}

.select :global(.multi-item-clear):after {
	content: "×";
	margin-left: 5px;
}

.select :global(.input) {
	line-height: inherit;
	border: none;
	margin-inline-start: 1ch;
	background: transparent;
}

.select :global(.input):focus {
	outline: none;
}

@keyframes dual-ring-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(180deg);
	}
}

.select :global(.loading) {
	padding: 0 5px;
}

.select :global(.loading):after {
	content: " ";
	display: block;
	width: 1em;
	height: 1em;
	border: 1px solid;
	border-radius: 50%;
	border-color: #0074d9 transparent;
	animation: dual-ring-spin 0.7s ease-in-out infinite;
}

.select :global(.clear):after {
	content: "×";
	padding: 0 5px;
}

.select :global(.separator) {
	display: block;
	border-left: 1px solid var(--border-color);
	width: 1px;
	height: 1em;
	margin: 0 5px;
}

.select :global(.handle) {
	display: flex;
	align-content: center;
}

.select :global(.handle) svg {
	width: 1em;
	height: 1em;
}

.select :global(.clear):hover,
.select :global(.handle):hover,
.select :global(.multi-item-clear):hover {
	color: tomato;
}

.dropdown {
	padding: 0;
	background: #fff;
	border: 1px solid var(--border-color);
	border-radius: 2px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	z-index: 15;

	&:focus {
		outline: none;
	}
}

.dropdown :global(.no-data) {
	padding: 10px;
	text-align: center;
	font-style: italic;
	color: GrayText;
}

.dropdown :global(.item) {
	padding: 5px 10px;
	border-bottom: 1px solid var(--dropdown-background-color);
}

.dropdown :global(.item:not(.disabled)) {
	cursor: pointer;
}

.dropdown :global(.item.new) {
	color: var(--item-new-color);
}

.dropdown :global(.item.disabled) {
	color: var(--item-disabled-color);
	background-color: var(--item-disabled-background-color);
}

.dropdown :global(.item.selected) {
	color: var(--item-selected-color);
	background-color: var(--item-selected-background-color);
	border-bottom: 1px solid var(--dropdown-background-color);
}

.dropdown :global(.item:not(.disabled):not(.selected).active),
.dropdown :global(.item:not(.disabled):not(.selected)):hover {
	background-color: var(--item-active-background-color);
}

.dropdown :global(.item.selected.active),
.dropdown :global(.item.selected):hover {
	background-color: var(--item-selected-active-background-color);
}
