.input-dates:global(.form-control) {
	display: flex;
	align-items: center;
}

.input-dates :global(.dropdown-toggle):after {
	all: unset;
}

.input-dates:global(.disabled) :global(.clear),
.input-dates:global(.disabled) :global(.calendar) {
	visibility: hidden;
}

.input-dates:not(:global(.disabled)):hover :global(.clear.active),
.input-dates:focus-within :global(.clear.active) {
	visibility: visible;
}

.input-dates:focus-within {
	outline: 0;
	box-shadow: 0 0 0 3px rgba(0, 116, 217, 0.2);
}

.input-dates:focus-within,
.input-dates:not(:global(.disabled)):hover {
	border-color: #0074d9;
}

.input-dates :global(.textarea) {
	font-family: inherit;
	border: none;
	resize: none;
}

.input-dates :global(.textarea.invalid) {
	color: red;
}

.input-dates :global .textarea:focus-visible {
	outline: none;
	box-shadow: none;
}

.input-dates :global .textarea::placeholder {
	font-style: italic;
}
