body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

div#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
}

.details-panel {
	padding: 10px;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.details-panel .placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	color: #bdbdbd;
}

.details-panel .main label,
.details-panel .main .label {
	font-weight: bold;
}

.top-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 10px;
	box-sizing: border-box;
}

.top-row.justify-right {
	justify-content: flex-end;
}

.control-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.button-group {
	flex-wrap: wrap;
	margin: 5px 5px;
}

.table-container {
	flex: 1; /* remaining height */
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.table-container.centered-rows .AppTable__dataRow,
.table-container.centered-rows .AppTable__headerRow {
	align-items: center;
}
