.sessionItem {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: flex;
	flex-direction: column;
	align-items: left;
}

.sessionItem > span:last-of-type {
	font-style: italic;
	font-size: smaller;
}
