.button {
	display: block;
	margin: 0 20px;
	text-align: center;
	color: #005979;
	font-weight: bold;
	text-decoration: none;
	border: 1px solid #005979;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	cursor: pointer;
}

.button:global(.active),
.button:hover {
	background-color: lightgray;
}

.container {
	display: flex;
	flex-direction: row;
	flex: 1;
	width: 100%;
}

.nav {
	display: flex;
	flex-direction: column;
}

.main {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.actionRow {
	display: flex;
	justify-content: flex-end;
}

.sessionsContainer {
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	margin: 10px 0;
	font-size: smaller;
}
