.main {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 10px;

	& .selector {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		margin-right: 1rem;

		&:last-of-type {
			margin-right: 0;
		}

		& label {
			font-weight: bold;
			margin-right: 0.5rem;
		}
	}
}
