
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	box-sizing: border-box;
}

.title {
	display: inline-block;
	font-family: "Arial", "Helvetica", sans-serif;
	font-weight: 400;
	font-size: 24px;
	margin: 0;
	padding: 0;
	color: #008080;
	text-align: center;
}

.nav-menu-container {
	flex: 1;
	padding: 0 1em;
	max-width: 900px;
}

.nav-menu {
	display: flex;
	align-items: flex-start;
}

.nav-menu-horizontal {
	flex-direction: row;
	justify-content: space-between;
	padding: 0 5px;
}

.nav-menu-vertical {
	flex-direction: column;
	width: 150px;
}

.nav-menu-button {

}

.nav-menu-icon {
	display: inline-block;
	height: 1.5em;
	width: 1.5em;
	vertical-align: middle;
	background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}


.nav-link {
	display: inline-block;
	margin: 0 4px;
	/*background: #efefef;*/
	text-align: center;
	color: #005979;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;
}

.nav-link.active,
.nav-link:hover {
	color:  black;
}

.account {
	padding: 0 5px;
}

/* Items in the nav menu */
.nav-menu-item {
	position: relative;
}

.nav-button {
	grid-area: nav-menu;
	background-color: transparent;
	color: black;
	padding: 16px;
	font-size: 16px;
	font-weight: 700;
	border: none;
	cursor: pointer;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.nav-button:hover {
	background-color: #3e484e66;
}
