
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	box-sizing: border-box;
}

.title {
	display: inline-block;
	font-family: "Arial", "Helvetica", sans-serif;
	font-weight: 400;
	font-size: 24px;
	margin: 0;
	padding: 0;
	color: #008080;
	text-align: center;
}

.header :global .nav-menu-container {
	flex: 1;
	padding: 0 1em;
	max-width: 900px;
	display: flex;
	align-items: flex-start;
}

.header :global .nav-small-menu {
	display: flex;
	flex-direction: row;
}

.header :global .nav-menu {
	display: flex;
	align-items: flex-start;
}

.header :global .nav-small-menu i {
	font-size: 20px;
}

.header :global .nav-menu-horizontal {
	flex-direction: row;
	justify-content: space-between;
	padding: 0 5px;
}

.header :global .nav-menu-vertical {
	flex-direction: column;
	width: 150px;
}

.header :global .nav-link {
	display: inline-block;
	margin: 0 4px;
	/*background: #efefef;*/
	text-align: center;
	color: #005979;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;
}

.header :global .nav-link.active,
.header :global .nav-link:hover {
	color:  black;
}

.header :global .account {
	padding: 0 5px;
}

/* Items in the nav menu */
.nav-menu-item {
	position: relative;
}

.nav-button {
	grid-area: nav-menu;
	background-color: transparent;
	color: black;
	padding: 16px;
	font-size: 16px;
	font-weight: 700;
	border: none;
	cursor: pointer;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.nav-button:hover {
	background-color: #3e484e66;
}
