.pollModal {
	max-width: unset;
	box-sizing: border-box;
}

@media (width <= 600px) {
	.pollModal {
		width: 100%;
		height: 100%;
	}
}

.pollForm {
	overflow: auto;
	padding: 0.5rem;
}

.topRow {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.topRowGroup {
	display: flex;
	align-items: center;
}

.topRowItem {
	margin: 10px 10px 10px 0;
}

.pollChoice {
	margin: 20px 20px 0 0;
}

.pollTitle,
.pollBodyRow,
.pollOptions {
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(221, 221, 221);
	border-radius: 5px;
}

.pollTitleRow {
	display: flex;
	justify-content: space-between;
}

.pollBodyRow {
	display: flex;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.pollOptionsRow {
	display: flex;
	justify-content: space-between;
}

.pollTitle {
	display: flex;
	border-bottom: none;
	border-bottom-left-radius: 0;
	position: relative;
	bottom: -1px;
	z-index: 2;
	padding: 5px;
	width: 50%;
}

span.pollTitle,
.pollTitle input {
	border: none;
	font-size: large;
	font-weight: bold;
	background: transparent;
	border-radius: 5px;
	width: 100%;
	height: 2em;
}

.pollTitle input:hover {
	outline: 1px solid #ccc;
}

.pollTitle input:focus-within {
	outline: 2px solid #ccc;
}

.pollOptions {
	display: flex;
	flex-direction: column;
	background-color: rgb(250, 250, 250);
	padding: 10px;
	border-top: none;
	border-top-left-radius: 0;
	position: relative;
	top: -1px;
	z-index: 2;
	min-width: 33%;
}

.pollOption {
	display: flex;
	justify-items: center;
	align-items: center;
	border-radius: 4px;
	margin: 4px;
	padding: 4px;
}

.pollOption.edit:hover {
	outline: 1px solid #ddd;
}

.pollOption.edit:focus-within {
	outline: 2px solid #ccc;
}
.pollOption.edit input[type="text"] {
	border: none;
	outline: none;
	background: transparent;
	width: 100%;
}

.pollOption.edit button {
	border: none;
	background-color: transparent;
	visibility: hidden;
}

.pollOption.edit:focus-within button {
	visibility: visible;
}

.pollOptions .addButton {
	border: none;
	padding: 8px 20px;
	border-radius: 5px;
}
