.table {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	width: 100%;
	height: 100%;

	& * {
		box-sizing: border-box;
	}

	& :global .table-body {
		width: 100%;
		flex: 1;
	}

	& :global .table-header {
		position: relative;
		width: 100%;

		& :global .header-container {
			overflow: hidden;
			max-width: 100%;

			& :global .header-row {
				height: 100%;
				background-color: #efefef;
			}
		}
	}

	& :global .header-row,
	& :global .data-row {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: stretch;
	}

	& :global .header-cell-content {
		height: 100%;
		width: calc(100% - 12px);
	}

	& :global .data-row {
		overflow: hidden;
	}

	& :global .data-row-even {
		background-color: #fafafa;
	}

	& :global .data-row-odd {
		background-color: #f6f6f6;
	}

	& :global .data-row-selected {
		background-color: #b9b9f7;
	}

	& :global .data-row-inner {
		display: flex;
		position: relative;
		box-sizing: unset;
		width: 100%;
		height: fit-content;
	}

	& :global .data-cell {
		padding-right: 10px;
	}

	& .placeholder {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1rem;
		color: #bdbdbd;
		height: 300px;
		max-height: 100%;
	}
}
