.header {
	display: flex !important;
	align-items: center;
	user-select: none;
	width: 100%;
	overflow: hidden;
	margin-right: 5px;
	white-space: normal !important;
	padding: 0 !important;

	& :global(.label) {
		max-width: 100%;
		font-weight: bold;
		overflow: hidden;
		text-align: left;
		flex-grow: 1;
	}

	& :global(.filter-sort-icons) {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}

	&:global(.dropdown-toggle):hover {
		color: tomato;
	}
}

.header-dropdown {
	& :global(.filter-list) {
		min-height: 35px;
		max-height: 250px;
		border: 1px solid #ccc;
		border-radius: 3px;
		margin-top: 10px;
		box-sizing: unset;
	}

	& :global(.item) {
		display: flex;
		align-items: center;
	}

	& :global(.item.disabled) {
		text-decoration: line-through;
	}

	& :global(.item.selected) {
		background: #0074d9;
	}

	& :global(.item.selected):hover {
		background: #ccc;
	}

	& :global(.item) > div {
		margin: 5px 5px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	& :global(.item.selected) > div {
		color: #fff;
	}
}
