.header-cell {
	display: flex !important;
	align-items: center;
	user-select: none;
	width: 100%;
	overflow: hidden;
	margin-right: 5px;
	white-space: normal !important;
	padding: 0 !important;

	& .label {
		max-width: 100%;
		font-weight: bold;
		overflow: hidden;
		text-align: left;
		flex-grow: 1;
	}

	& .filter-sort-icons {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}

	&.dropdown-toggle:hover {
		color: tomato;
	}
}

.header-cell-dropdown-menu {
	& .filter-list {
		min-height: 35px;
		max-height: 250px;
		border: 1px solid #ccc;
		border-radius: 3px;
		margin-top: 10px;
		box-sizing: unset;
	}

	& .item {
		display: flex;
		align-items: center;

		&.disabled {
			text-decoration: line-through;
		}

		&.selected {
			background: #0074d9;
		}

		&.selected:hover {
			background: #ccc;
		}

		& > div {
			margin: 5px 5px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		&.selected > div {
			color: #fff;
		}
	}
}
