.main {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border: 1px solid rgb(203 213 225);
	border-radius: 3px;
	background-color: #fafafa;
	margin: 5px 0;

	&:hover {
		border-color: #0074d9;
	}

	&:focus-within {
		outline: 0;
		box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
	}

	& > :global(.mirror) {
		position: absolute;
		overflow: hidden;
		z-index: +1;
		user-select: none;
		pointer-events: none;

		& mark {
			all: unset;
			color: red;
			text-decoration: line-through;
			background-color: inherit;
		}
	}

	& > :global(.input) {
		margin: 5px;
		background: transparent;
		border: none;
		resize: none;
		width: 100%;
		line-height: normal;
		font-family: inherit;
		font-size: inherit;

		&:focus {
			outline: 0;
			box-shadow: none;
		}
	}

	& > :global(.clear) {
		font-size: larger;

		&:hover {
			color: tomato;
			cursor: pointer;
		}
	}
}
