.row {
	margin: 5px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list {
	min-height: 10px;
	max-height: 50vh;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 10px;
	padding: 10px;
	overflow-y: auto;

	& :global(.dropdown-item) {
		padding-left: 2rem;
	}

	& :global(.form-check) > label {
		width: 100%;
	}
}

.item {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.item:hover {
	background: #ccc;
}

.item:disabled {
	text-decoration: line-through;
}

.item:global(.selected) {
	background: #0074d9;
}

.item span {
	margin: 5px 5px;
}

.item:global(.selected) span {
	color: #fff;
}
