.root {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
	/* width: 100%; */
	margin: 10px 0;
}

.column {
	flex: 1;
}

.empty {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	color: #bdbdbd;
}

.row label {
	width: 150px;
	font-weight: bold;
	white-space: nowrap;
}

.column input[name=Project],
.row input[name=BallotID] {
	width: 100px;
}
.row input[name=Document] {
	width: 300px;
}
.row input[name=Topic] {
	width: 400px;
	height: 3em;
}
.row input[name=PrevBallotID] {
	width: 100px;
}

.invalidDate {
	background-color: red;
}
