.poll-action-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0.5rem 0;

	.poll-action-group {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
}

.poll-title-row,
.poll-body-row,
.poll-options-row {
	background-color: ivory;
}

.poll-title-row {
	border-radius: 0.5rem 0.5rem 0 0;

	.poll-title {
		font-weight: bold;
		font-size: 1.5rem;
		padding: 0.5rem;
	}

	.poll-title input {
		border: none;
		background: transparent;
		border-radius: 5px;
		width: 100%;
		height: 2em;
	}
}

.poll-body-row {
	position: relative;
	display: flex;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding: 0.5rem;
}

.poll-options-row {
	display: flex;
	justify-content: space-between;
	border-radius: 0 0 0.5rem 0.5rem;

	.poll-options-col1 {
		display: flex;
		flex-direction: column;
		padding: 10px;
		min-width: 33%;

		.poll-option {
			display: flex;
			justify-items: center;
			align-items: center;
			margin-bottom: 0.4rem;

			& > :first-child {
				margin-right: 1rem;
			}

			&.edit:hover {
				outline: 1px solid #ddd;
			}

			&.edit:focus-within {
				outline: 2px solid #ccc;
			}

			&.edit input[type="text"] {
				border: none;
				outline: none;
				background: transparent;
				width: 100%;
			}

			&.edit button {
				border: none;
				background-color: transparent;
				visibility: hidden;
			}

			&.edit:focus-within button {
				visibility: visible;
			}
		}
	}

	.poll-options-col2 {
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		min-width: 33%;
		padding: 0.5rem;
	}
}

.poll-moved-row {
	display: flex;
	margin: 1rem 0;

	& .poll-moved-col {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		padding: 0.5rem;
		width: 50%;

		& > :first-child {
			margin-right: 0.5rem;
		}
	}
}
