.container {
	display: flex;
	align-items: center;
}

.labelValue {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 10px;
}

.labelValue span:first-child {
	font-weight: bold;
}
