.admin-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	padding: 1rem;
	overflow: hidden;

	.event-description {
		display: flex;
		flex-direction: column;
	}

	.event-create {
		flex: 1;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-right: 0.5rem;
	}

	.event-panel {
		padding: 1rem;
		border: 1px solid var(--bs-border-color);
		border-top: none;
		overflow: auto;
	}
}
