.admin-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	padding: 1rem;
	overflow: hidden;

	.event-description {
		display: flex;
		flex-direction: column;

		&.published {
			font-weight: bold;
			text-shadow:
				0 0 15px yellow,
				0 0 25px yellow;
			animation: pulse 2s infinite;
		}
	}

	.event-create {
		flex: 1;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-right: 0.5rem;
	}

	.event-panel {
		padding: 1rem;
		border: 1px solid var(--bs-border-color);
		border-top: none;
		overflow: auto;
	}
}

@keyframes pulse {
	0% {
		color: orange;
	}
	25% {
		color: red;
	}
	50% {
		color: black;
	}
}
