.admin-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	padding: 1rem;
	overflow: hidden;

	& :global(.nav-link.published) {
		background-color: #19875420;
		color: var(--bs-nav-link-color);
	}

	& :global(.nav-link.active.published) {
		background-color: #198754ff;
		color: #fff;
	}

	.event-description {
		display: flex;
		flex-direction: column;
	}

	.event-panel {
		padding: 1rem;
		border: 1px solid var(--bs-border-color);
		border-top: none;
		overflow: auto;
	}
}

.event-create {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	& > div {
		margin-right: 0.5rem;
	}
}

@keyframes pulse {
	0% {
		color: orange;
	}
	25% {
		color: red;
	}
	50% {
		color: black;
	}
}
