.pollAccordion {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	& :global(.accordion-item):focus-within {
		box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);

		& * {
			box-shadow: none;
		}
	}

	& :global(.accordion-item) {
		position: relative;
	}

	& :global(.accordion-header) {
		display: flex;
		justify-content: flex-end;

		& :global(.accordion-button) {
			background-color: transparent;
			align-items: flex-start;
		}

		&:not(:has(:global(.collapsed))) {
			position: absolute;
			top: 0;
			right: 0;
		}

		& :global(.accordion-button:not(.collapsed)) {
			width: unset;
			justify-self: flex-end;
			z-index: 10;

			& :global(.summary) {
				display: none;
			}
		}
	}

	& :global(.accordion-body) {
		padding-right: 3rem;
		position: relative;
		/*top: -52px;*/
		background-color: var(--bs-accordion-active-bg);
	}
}
