.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.row > *:not(:last-child) {
	margin-right: 5px;
}

.textBlockContainer {
	overflow-wrap: break-word;
}
.textBlockContainer p {
	margin: 8px 0;
}
.textBlockContainer p:first-of-type {
	margin: 0;
}

.subcomponent {
	padding-right: 5px;
	box-sizing: border-box;
	overflow: hidden;
}

.multiple {
	color: GrayText;
	font-style: italic;
}

.notesField,
.resolutionField,
.editingField {
	width: 100%;
	position: relative; /* position toolbar */

	& :global(.accordion-button) {
		padding: 10px 0;

		&:not(:global(.collapsed)) {
			background-color: transparent;
		}
	}

	& :global(.accordion-body) {
		padding: 0;
	}
}

.resolutionContainer:hover:not(:global(.readonly)) > div {
	border-color: #0074d9;
}

.resolutionStatus {
	width: fit-content;
	border: 1px solid #ddd;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	position: relative;
	bottom: -1px;
	z-index: 1;
	display: flex;
	padding: 5px 10px;

	& > div {
		margin-right: 20px;
	}
}

.resolutionEditor {
	border-radius: 0 5px 5px 5px;
}

.editor {
	color: unset;
}
