.poll-list {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	& .accordion-item:focus-within {
		box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);

		& * {
			box-shadow: none;
		}
	}

	& .accordion-item {
		position: relative;
	}

	& .accordion-header {
		display: flex;
		justify-content: flex-end;

		&:has(.accordion-button:not(.collapsed)) {
			position: absolute;
			top: 0;
			right: 0;
		}

		& .accordion-button {
			background-color: transparent;
			align-items: flex-start;
		}

		& .accordion-button:not(.collapsed) {
			width: unset;
			justify-self: flex-end;
			z-index: 10;
		}
	}

	& .accordion-body {
		display: flex;
		flex-direction: column;
		padding-right: 3rem;
		background-color: var(--bs-accordion-active-bg);
	}
}
