.actionRow {
	display: flex;
	justify-content: space-between;
	margin: 10px 0 20px 0;
}

.pollChoice {
	margin: 20px 20px 0 0;
}

.pollTitleRow {
	display: flex;
	justify-content: space-between;
}

.pollBodyRow {
	display: flex;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding: 5px;
}

.pollOptionsRow {
	display: flex;
	align-items: flex-end;
}

.pollTitle {
	display: flex;
	border-bottom: none;
	border-bottom-left-radius: 0;
	position: relative;
	bottom: -1px;
	z-index: 2;
	padding: 5px;
	width: 50%;
}

span.pollTitle,
.pollTitle input {
	border: none;
	font-size: large;
	font-weight: bold;
	background: transparent;
	border-radius: 5px;
	width: 100%;
	height: 2em;
}

.pollTitle input:hover {
	outline: 1px solid #ccc;
}

.pollTitle input:focus-within {
	outline: 2px solid #ccc;
}

.pollOptionsContainer {
	display: flex;
	align-items: flex-end;
	min-width: 33%;
	background-color: rgb(250, 250, 250);
	border-radius: 8px;
	margin-left: 10px;
}

.pollOptions {
	display: flex;
	flex-direction: column;
	padding: 10px;
	min-width: 33%;
}

.pollOption {
	display: flex;
	justify-items: center;
	border-radius: 4px;
	margin: 4px;
	padding: 4px;
}

.pollOptionsSubmit button {
	border: none;
	padding: 8px 20px;
	border-radius: 5px;
}

.pollOptionsSubmit {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.pollOptionsSubmit span {
	color: red;
	font-size: smaller;
}
