.tabs {
	-webkit-tap-highlight-color: transparent;
	display: flex;
	flex-direction: column;
	width: 100%;
	flex: 1;
}

.tabs .header {
	display: flex;
	width: 100%;
}

.tabs .filler {
	flex: 1;
}

.tabList {
	display: flex;
	border-bottom: 1px solid #aaa;
	margin: 0 0 10px;
	padding: 0;
}

.tab {
	display: flex;
	flex-direction: column;
	border: 1px solid transparent;
	border-bottom: none;
	bottom: -1px;
	position: relative;
	list-style: none;
	padding: 6px 12px;
	cursor: pointer;
}

.tab:global(.selected) {
	background: #fff;
	border-color: #aaa;
	color: black;
	border-radius: 5px 5px 0 0;
}

.tab:global(.disabled) {
	color: GrayText;
	cursor: default;
}

.tab:focus {
	outline: none;
}

.tab:focus:after {
	content: "";
	position: absolute;
	height: 5px;
	left: -4px;
	right: -4px;
	bottom: -5px;
	background: #fff;
}

.tabName {
	font-weight: bold;
}

.tabDate {
	font-size: smaller;
}

.tabPanel {
	display: none;
}

.tabPanel:global(.selected) {
	display: block;
}

.tab:global(.active__) {
	box-shadow:
		inset 0 0 2px rgba(255, 255, 255, 0.05),
		inset 4px 4px 6px rgba(0, 0, 0, 0.2);

	color: yellow;

	text-shadow:
		0 0 15px yellow,
		0 0 25px yellow;

	animation: glow 1.5s linear infinite;
}

@keyframes glow {
	0% {
		filter: hue-rotate(0deg);
	}

	100% {
		filter: hue-rotate(360deg);
	}
}

.tab:global(.active) {
	font-weight: bold;
	text-shadow:
		0 0 15px yellow,
		0 0 25px yellow;
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		color: orange;
	}
	25% {
		color: red;
	}
	50% {
		color: black;
	}
}
