.user-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	padding: 1rem;

	& .active-poll {
		font-weight: bold;
		text-shadow:
			0 0 15px yellow,
			0 0 25px yellow;
		animation: pulse 2s infinite;
	}

	& :global(.tab-pane) {
		flex-direction: column;
		padding: 1rem;
		border: 1px solid var(--bs-border-color);
		border-top: none;
	}
}

@keyframes pulse {
	0% {
		color: orange;
	}
	25% {
		color: red;
	}
	50% {
		color: black;
	}
}
