.container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 5px;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(221, 221, 221);
	border-radius: 5px;

	&:hover:not(:global(.readonly)) {
		border-color: #0074d9;
	}

	& .outerContainer {
		width: 100%;
	}

	& .innerContainer {
		resize: none;
		cursor: text;
		caret-color: rgb(5, 5, 5);
		tab-size: 1;
		outline: 0;

		font-size: 16px;
		padding: 5px;
		width: 100%;
	}

	& .clear {
		cursor: pointer;
		text-align: center;
		margin: 0 5px;
		&:after {
			content: "×";
		}
		&:hover {
			color: tomato;
		}
	}

	& .placeholder {
		position: absolute;
		top: 0;
		left: 0;
		margin: 16px 0;
		display: inline-block;
		color: #999;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 15px;
		user-select: none;
		pointer-events: none;
	}
}

.toolbar {
	position: absolute;
	top: -16px;
	right: 16px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	z-index: 2;

	& :global(.button-group) {
		display: flex;
		flex-wrap: nowrap;
		box-sizing: border-box;
	}

	& :global(.btn) {
		--bs-btn-color: #000;
		--bs-btn-bg: #fdfdfd;
		--bs-btn-border-color: #999;
		--bs-btn-active-color: #000;
		--bs-btn-active-bg: rgba(223, 232, 250);
		--bs-btn-hover-color: #000;
		--bs-btn-hover-bg: #eee;
		--bs-btn-disabled-color: #bbb;
		--bs-btn-disabled-bg: #f9f9f9;
		--bs-btn-disabled-border-color: var(--bs-border-color);
		--bs-btn-disabled-opacity: 1;
		--bs-btn-padding-x: 3px;
		--bs-btn-padding-y: 3px;
		display: flex;
		align-items: center;
		margin: 0 5px;
	}

	& :global(.dropdown-menu) {
		--bs-dropdown-min-width: unset;
	}
}
