.title {
	display: inline-block;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	font-size: 34px;
	line-height: 40px;
	margin: 24px 0;
	padding: 0;
	color: white;
}
.header {
	display: table;
	width: 100vw;
	height: 106px;
	background-color: rgb(63,81,181);
}
.header nav {
	display: table-row;
}
.header nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.header nav ul li {
	display: inline-block;
	width: 100px;
}
.main {
	/*height: calc(100vh - 106px);*/
}
