:local(.Table) {
  /*width: 100%;
  height: 100%; */
}
:local(.headerRow),
:local(.evenRow),
:local(.oddRow) {
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  flex-direction: row;
  align-items: top;
  box-sizing: border-box;
}
:local(.headerRow) {
  font-weight: bold;
  font-size: 0.9em;
}
:local(.oddRow) {
  background-color: #f6f6f6;
}
:local(.oddRow:focus) {
  background-color: #f0f0f0;
}
:local(.headerColumn) {
  display: flex;
  flex-direction: row;
  text-transform: none;
  background-color: #fafafa;
  /* padding: 5px */
}
:local(.rowColumn) {
  padding: 2px;
}
:local(.noRows) {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	color: #bdbdbd;
}

:local(.headerBox) {
	display: flex;
	flex-direction: column;
	flex: 0 0 calc(100% - 12px);
}
:local(.headerLabelContainer) {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	user-select: none;
}
:local(.headerLabel) {
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: '.';
	max-width: 100%/*calc(100% - 12px);*/
}

:local(.headerSortIcon) {
	position: absolute;
	right: 0;
	background-color: #fafafa;
}
:local(.headerFilt)/*,
:local(.select);*/ {
  background: #ffffff;
  border: 1px solid #ddd;
  padding: 1px;
  font-weight: 100;
  font-size: -1;
}

:local(.headerFilt[placeholder]:empty:before) {
  content: attr(placeholder);
  color: #555;
}
/*
:local(.select[placeholder]:empty:before) {
	content: attr(placeholder);
	color: #555;
}*/
:local(.dragHandle) {
	flex: 0 0 12px;
	z-index: 2;
	cursor: col-resize;
	color: #0085ff;
}
:local(.headerLabelContainer:hover),
:local(.dragHandle:hover) {
	background-color: rgba(0, 0, 0, 0.1);
}
:local(.dragHandleActive),
:local(.dragHandleActive:hover) {
	color: #0b6fcc;
	z-index: 3;
}
:local(.dragHandleIcon) {
	flex: 0 0 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

:local(.actionColumn) {
	visibility: hidden;
}
:local(div.evenRow:hover .actionColumn),
:local(div.oddRow:hover .actionColumn) {
	visibility: visible;
}

/* mixin for multiline */
.block-with-text {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 2.4em;
  text-align: justify;
  /*margin-right: -1em;*/
  padding-right: 1em;
}
.block-with-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.block-with-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}