.root {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 600px;
	position: relative;
}

.row {
	display: flex;
	flex-direction: row;
	/* width: 100%; */
	margin: 10px 0;
}

.column {
	display: flex;
	flex-direction: column;
	/*flex: 1;*/
}

.close {
	position: absolute;
	right: 10px;
	top: 10px;
}

.ballotTypeGroup {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	padding-top: 10px;
}

.importGroup {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	padding-top: 10px;
}

.empty {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	color: #bdbdbd;
}

.initLabel {
	width: 150px;
}
.row label {
	font-weight: bold;
	white-space: nowrap;
}

.row input[name=Project],
.row input[name=BallotID],
.row input[name=EpollNum] {
	width: 100px;
}
.row input[name=Document] {
	width: 300px;
}
.topic,
.row input[name=Topic] {
	width: 400px;
	height: 3em;
	white-space: normal;
}
.row input[name=PrevBallotID] {
	width: 100px;
}

.toLabel {
	width: 40px;
	text-align: center;
}

.invalidDate {
	background-color: red;
}
