.root {
	background: #fff;
}

.toolbar {
	visibility: hidden;
	margin-top: auto
}

.visible {
	visibility: visible;
}

/* Editor */
.editor {
	cursor: text;
	font-size: 16px;
	padding: 5px;
}

.editor :global(.public-DraftEditor-content) {
	border: 1px solid #999;
	border-radius: 2px;
	overflow: auto;
	padding: 5px;
}

.hidePlaceholder :global(.public-DraftEditorPlaceholder-root) {
	display: none;
}

.editor :global(.public-DraftEditorPlaceholder-root) {
	font-style: italic;
	color: GreyText;
}

.editor p {
	margin: 14px 0;
}

/* Consecutive code blocks are nested inside a single parent <pre> (like <li>
  inside <ul>). Unstyle the parent and style the children. */
.editor pre {
	margin: 14px 0;
}

.editor code-block {
	background-color: #f3f3f3;
	font-family: "Inconsolata", "Menlo", "Consolas", monospace;
	font-size: 16px;
	/* This should collapse with the margin around the parent <pre>. */
	margin: 14px 0;
	padding: 20px;
}

/* Hacky: Remove padding from inline <code> within code block. */
.editor code-block span[style] {
	padding: 0 !important;
}

.editor blockquote {
	border-left: 5px solid #eee;
	font-family: 'TimesNewRoman', serif;
	margin: 16px 0;
	padding: 10px 20px;
}

/* There shouldn't be margin outside the first/last blocks */
.editor .block:first-child,
.editor p:first-child,
.editor blockquote:first-child,
.editor pre:first-child,
.editor ul:first-child,
.editor ol:first-child {
	margin-top: 0;
}
.editor .block:last-child,
.editor p:last-child,
.editor blockquote:last-child,
.editor pre:last-child,
.editor ul:last-child,
.editor ol:last-child {
	margin-bottom: 0;
}

/* Button Group */
.buttonGroup {
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 3px 8px;
	height: 30px;
	line-height: 22px;
	box-sizing: border-box;
	background: none #fdfdfd;
	background: linear-gradient(to bottom, #fdfdfd 0%,#f6f7f8 100%);
	border: 1px solid #999;
	border-radius: 2px;
	color: #333;
	text-decoration: none;
	font-size: inherit;
	font-family: inherit;
	cursor: pointer;
	white-space: nowrap;
}

.buttonGroup:disabled {
	cursor: not-allowed;
	background: none transparent;
}

.buttonGroup:disabled > * {
	opacity: .5;
}

/* Button */
.button {
	display: inline-block;
	margin: 0 5px 0 0;
	box-sizing: border-box;
	background: none #fdfdfd;
	background: linear-gradient(to bottom, #fdfdfd 0%,#f6f7f8 100%);
	border: 1px solid #999;
	border-radius: 2px;
	color: #333;
	text-decoration: none;
	font-size: inherit;
	font-family: inherit;
	cursor: pointer;
	white-space: nowrap;
}

.button:disabled {
	cursor: not-allowed;
	background: none transparent;
}

.button:disabled > * {
	opacity: .5;
}

.isActive {
	background: none #d8d8d8;
}
