.ReactModal__Content {
	position: absolute;
	top: 20%;
	left: 50%;
	max-width: 90%;
	max-height: 80%;
	transform: translate(-50%, 0);
	padding: 20px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.ReactModal__Overlay {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0) /* Black w/ opacity */;
	z-index: 6;
}
