body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

div#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
}

.details-panel {
    padding: 10px;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.details-panel .placeholder {
    display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	color: #bdbdbd;
}

.details-panel .main label {
    font-weight: bold;
}

.details-panel .header {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.details-panel .title {
	align-self: center;
	font-weight: bold;
	color: #0099cc;
	margin: 0;
}


.top-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.top-row.justify-right {
	justify-content: flex-end;
}

.control-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.table-container {
	flex: 1; /* remaining height */
	width: 100%;
	align-items: center;
}

.table-container.centered-rows .AppTable__dataRow,
.table-container.centered-rows .AppTable__headerRow {
	align-items: center;
}
