.table-container {
	flex: 1; /* remaining height */
	width: 100%;
	align-items: center;
}

.table-container :global .AppTable__dataRow,
.table-container :global .AppTable__headerRow {
	align-items: center;
}
